@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <pre>@ViewData["client"]</pre>
    <pre>@ViewData["server"]</pre>
    <img width="256" height="256" src="@ViewData["qr"]" />

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
